@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;  /* 줄간격 100% = 글자크기와 같음 16px */
}

/* 목록기호 숨기기 */
ol, ul, li{
	list-style: none;
}

blockquote, q { /* 인용문태그에 나오는 '' 인용부호를 생략함 */
	quotes: none;
}

/* 인용문 태그에 앞, 뒤쪽에 빈공간을 만든다. - 여백 */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* 테이블 작성시 테두리가 이중선이 나오지 않도록 줄간격을 없앰. */
table {
	border-collapse: collapse;
	border-spacing: 0; /* 줄사이 여백없앰. */
}