@charset "UTF-8";
body {
  font-family: "맑은 고딕", arial, sans-serif;
  color: #333;
  font-size: 12px;
}

header, main, footer {
  width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
  background: #ff0;
}

header > h1 {
  font-size: 30px;
}

main {
  background: #0f0;
  height: 400px;
}

footer {
  background: #333;
  text-align: center;
}

footer > address {
  color: #fff;
}