// import.scss
@charset 'utf-8';


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'style';

//전역변수선언
$bigFontSize: 26px; //import한 변수보다 우선적용
$color: #00f;
$background: #ccc;

h2 {
  font-family: "Noto Sans KR";
  font-size: $bigFontSize;
  color: $color;
  background: $background;
}