div {
  height: 50px;
  border: 3px solid #000;
  margin-bottom: 20px;
}

.pc {
  width: 1200px;
  background: pink;
}

.tablet {
  width: 1024px;
  background: pink;
}

.mobile {
  width: 390px;
  background: lightblue;
}

.box03 {
  width: 768px;
  background: pink;
}

.box04 {
  width: 1024px;
  background: #ff0;
}