/* style.sass 
스타일 가이드에서 설정된 색상값, 글꼴에 관련된 서식값, 링크에 관련된 서식값*/

//전역변수
$myFont: '맑은 고딕', arial, sans-serif;
$baseFontColor: #333;
$bigFontSize: 30px;
$baseFontsize: 12px;
$boxWidth: 1280px;
$boxCenter: 0px auto;
$bgColor: #ff0;

body {
  //지역변수
  $p01: #f00;
  font-family: $myFont;
  font-size: $baseFontsize;
  color: $baseFontColor;
}

h1 {
  font-size: $bigFontSize;
  text-align: center;
}

#wrap {
  $bgColor01: #0f0; //지역변수
  width: $boxWidth;
  height: 300px;
  background: $bgColor;
  border: 1px solid $bgColor01;
  margin: $boxCenter;
}