div {
  height: 50px;
  margin-bottom: 10px;
  background: pink;
}

div:nth-of-type(1) {
  width: 100px;
}

div:nth-of-type(2) {
  width: 200px;
}

div:nth-of-type(3) {
  width: 300px;
}

div:nth-of-type(4) {
  width: 400px;
}

div:nth-of-type(5) {
  width: 500px;
}

div:nth-of-type(6) {
  width: 600px;
}

dl, dd, dt {
  font-size: 14px;
}

dl {
  border-top: 1px solid #333;
}

dd {
  margin: 0;
}

dl > dt > i.fa-solid {
  font-size: 20px;
  color: #333;
  position: absolute;
  right: 1%;
  transition: 0.5s;
}

.act {
  display: block !important;
}

.act2 {
  transform: rotate(180deg) !important;
}

dt:nth-of-type(1) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(2) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(3) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(4) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(5) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(6) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(7) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(8) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(9) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(10) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(11) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(12) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dt:nth-of-type(13) {
  color: rgb(0, 99, 0);
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

dd:nth-of-type(1) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(2) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(3) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(4) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(5) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(6) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(7) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(8) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(9) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(10) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(11) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(12) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}

dd:nth-of-type(13) {
  background: #e6e6e6;
  color: #414141;
  padding: 20px;
  display: none;
}