@charset "utf-8";

//style3.scss

$width:1200px;
$width2:1024px;
$width3:390px;
$width4:768px;

//div 기본서식
@mixin box{
  height: 50px;
  border:3px solid #000;
  margin-bottom:20px;
}
//div 서식 적용하기
div{@include box};
.pc{
  width: $width;
  background:if($width>500, pink, lightblue);
}
.tablet{
  width:$width2;
  background:if($width2>500, pink, lightblue);
}
.mobile{
  width:$width3;
  background:if($width3>500, pink, lightblue);
}

.box03{
  width:$width4; //768
  @if($width4>=767){
    background:pink;
  }@else{
    background:lightblue;
  }
}

.box04{
  width:$width2; //1024
  @if($width2>=1024){
    background:#ff0;
  }@else{
    background:#ccc;
  }
}